<ion-view class="login-view page-dark" view-title="Login" >
  <ion-content>
    <ion-tabs class="tabs-striped tabs-custom tabs-icon-top">
      <ion-tab title="Passenger" icon-on="ion-person" icon-off="ion-person" class="passenger" on-select="AppCtrl.changeUser('passenger')"></ion-tab>
      <ion-tab title="Driver" icon-on="ion-model-s" icon-off="ion-model-s" class="driver"on-select="AppCtrl.changeUser('driver')"></ion-tab>
    </ion-tabs>

      <div class="top">
          <h1 class="text-center ">Zoosche</h1>
          <div class="rounded {{userType}}"></div>
          <!--<div class="title text-center driver">{{userType | lowercase}}</div>-->
      </div>

      <div ng-if="AppCtrl.forgotPwd" class="card">
        <div class="item item-divider text-center dark-bg light button-large">You have a job request!</div>
        <div class="item item-text-wrap text-center row message">
          <div class="col font-xlarge"></div>
          <div class="col-20">
            <div class="circle-icon-holder assertive-bg" ng-click="JobCtrl.locatePickupOnMap()">
              <span class="circle-icon icon ion-ios-location fab"></span>
            </div>

          </div>
        </div>
        <div class="item item-divider accept">
          <button ng-click="JobCtrl.accept()" class="button button-full {{userType}}">Accept</button>
        </div>
      </div>

      <form ng-submit="AppCtrl.doLogin(userType)">
        <div class="row padding">
          <input class="col {{userType}}" placeholder="Username" type="text" ng-model="AppCtrl.username" autocorrect="off" autocapitalize="none"></input>
        </div>
        <div class="row padding">
          <input class="col {{userType}}" placeholder="Password" type="password" ng-model="AppCtrl.password"></input>
        </div>
        <text class="fail-login" ng-show="AppCtrl.loginMessage">*{{AppCtrl.loginMessage}}</text>
        <div class="row padding">
          <button type="submit"  class="col button button-full {{userType}} ink">Login <span ng-show="loading"><ion-spinner class="spinner-light"></ion-spinner></span></button>
        </div>
        <div class="link {{userType}} text-center"><a ng-click="AppCtrl.doForgot()">Forgot password?</a> | <a ng-click="AppCtrl.showRegister()">Sign Up</a></div>
      </form>

  </ion-content>
</ion-view>
