<ion-side-menus enable-menu-with-back-views="false" class="left-nav-view {{userType}}">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left"  class="left-nav-menu">
    <ion-header-bar class="bar-dark2">
      <div class="rounded profile"></div><h1 class="title">Zoosche</h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <div class="list">
        <!--passenger-->
        <a ng-hide="isDriver()" class="item item-icon-left" menu-close href="#/app/beacon"><i class="icon ion-navigate">Nearby Drivers</i></a>
        <a ng-hide="isDriver()" class="item item-icon-left" menu-close href="#/app/ride-history"><i class="icon ion-android-time">Ride History</i></a>
        <a ng-hide="isDriver()" class="item item-icon-left" menu-close href="#/app/payment"><i class="icon ion-card">Payment (test)</i></a>
        <!--driver-->
        <a ng-show="isDriver()" class="item item-icon-left" menu-close href="#/app/start-job"><i class="icon ion-flag">Start Job</i></a>
        <a ng-show="isDriver()" class="item item-icon-left" menu-close href="#/app/transaction"><i class="icon ion-android-time">Transactions</i></a>
        <div class="separator"></div>
        <a class="item item-icon-left" menu-close href="#/app/account"><i class="icon ion-person">My Account</i></a>
        <a class="item item-icon-left" menu-close href="#/app/setting"><i class="icon ion-android-settings">Settings</i></a>
        <div class="separator"></div>
        <a class="item item-icon-left" menu-close ng-click="AppCtrl.logout()"><i class="icon ion-log-out">Logout</i></a>

      </div>

    </ion-content>
    <!--<ion-footer-bar class="bar-assertive tab tabs-assertive">-->
      <!--&lt;!&ndash;<button class="button" style="width: 100%;" ng-click="AppCtrl.logout()">Logout!</button>&ndash;&gt;-->
      <!--<a class="tab-item tab-item-act8ive" style="width: 100%;" ng-click="AppCtrl.logout()">Logout!</a>-->
      <!--&lt;!&ndash;<ion-list><ion-item menu-close ng-click="AppCtrl.logout()">Logout</ion-item></ion-list>&ndash;&gt;-->
    <!--</ion-footer-bar>-->
  </ion-side-menu>

</ion-side-menus>
