<ion-view class="register-view" view-title="Create Account">
  <ion-header-bar>
    <h4 class="text-center title">Create Account</h4>
  </ion-header-bar>
  <ion-content>
    <form  novalidate name="myForm"  class="padding scroll='true'">
      <list>

        <div class="row">

          <div class="col-50 col">
            <label class="item item-input item-floating-label">
              <span class="input-label">First Name</span>
              <input placeholder="First Name*" class="passenger" type="text" name="firstname" ng-model="AppCtrl.r_fname" required >
            </label>
          </div>

          <div class="col-50 col">
            <label class="item item-input item-floating-label">
              <span class="input-label">Last Name</span>
              <input placeholder="Last Name*" class="passenger" type="text" name="lastname" ng-model="AppCtrl.r_lname" required >
            </label>
          </div>
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input placeholder="Username*" class="passenger" type="text" name="username" ng-model="AppCtrl.r_username" required >
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input placeholder="Enter Password*" class="passenger" type="password" name="password" ng-model="AppCtrl.r_password" required  ng-minlength="6"  />
        </label>
        <text ng-show="myForm.password.$error.minlength" class="validation-error">Password must be longer than 6 characters</text>

        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm Password</span>
          <input placeholder="Confirm Password*" class="passenger" type="password" ng-model="AppCtrl.r_confirm_password" required />
        </label>
        <text ng-show="AppCtrl.r_password !== AppCtrl.r_confirm_password" class="validation-error">password doesn't match</text>

        <label class="item item-input item-floating-label">
          <span class="input-label">Phone</span>
          <input placeholder="Phone*" class="passenger" type="tel" ng-minlength="10" ng-maxlength="10" ng-model="AppCtrl.r_phone" required />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input placeholder="Email*" class="passenger" type="email"  name="email" autocapitalize="none" ng-model="AppCtrl.r_email"  required/>
        </label>

        <text>* Required Fields</text>
        <div ng-show="AppCtrl.register_error">
          <text class="validation-error">* {{AppCtrl.register_error}}</text>
        </div>

      </list>

      <div class="button-area">
        <button class="button button-small button-full {{userType}} register" ng-disabled="myForm.$invalid || AppCtrl.r_password !== AppCtrl.r_confirm_password" type="submit" ng-click="AppCtrl.doRegister()">Sign Up</button>
        <button class="button button-small button-full button-dark" type="button" ng-click="AppCtrl.doRegisterCancel()">Cancel</button>
      </div>
      <div class="link text-center">By signing up, you agree to the </div>
      <div class="link text-center"><a href="#">Privacy Policy</a> &amp; <a href="#">Terms of Service</a></div>


    </form>


  </ion-content>

</ion-view>
