/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light:                           #fff !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

//$stable:                          orange !default;

// Colors
// -------------------------------

//$light:                 #fff !default;
////$stable:                #f8f8f8 !default;
//$positive:              #4ea4be !default; //#4a87ee;
//$calm:                  #40A7CF !default; //#43cee6;
//$balanced:              #a2c57a !default; //#66cc33
//$energized:             #f0b840 !default;
//$assertive: #ee4444 !default;
//$royal:                 #8a6de9 !default;
//$dark:                  #444 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include theme variables
//@import "scss/common/theme.variables";

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/js/modules/ionic-rating/ionic-rating";
@import "www/js/modules/job-post/job";
@import "www/js/modules/map/map";
@import "www/js/modules/payment/payment";
@import "www/js/modules/beacon/beacon";
@import "www/js/modules/account/account";

// Include project Sass variables
//@import "scss/common/common.variables";

// Include custom styles
//@import "scss/common/common.styles";
@import "scss/login";
@import "scss/main-menu";
@import "scss/register";


/* Smartphones Galaxy S3, Note 2, Note 3, LG Optimus L70, Nexus 4/5/5x/6p6/, iPhone 4/5/6/6+     */
@media (max-width: 480px) {
  //*:not(i) { font-size: 16px !important; }
  //*:not(i) { background-color: #ff8888 !important; }
  button { font-size: 130% !important; }
}

/* Smartphones to Tablets Nexus 7, */
@media (min-width: 481px) and (max-width: 767px) {
  //*:not(i) { font-size: 22px !important;}
  //*:not(i) { background-color: #2bbbad; }
  button { font-size: 130% !important; }

}

/* Tablets Nexus 10, */
@media (min-width: 768px) and (max-width: 959px) {
  //*:not(i) { font-size: 24px !important; }
  //*:not(i) {background-color: #1bb556; }
  button { font-size: 100% !important; }
  //button { font-size: 130% !important; }
}

/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {
  //*:not(i) { font-size: 24px !important;}
  //*:not(i) { background-color: #f9c9cb; }
  button { font-size: 130% !important; }
}

/* Large Display */
@media (min-width: 1200px) {
  //*:not(i) { font-size: 26px; }
  //*:not(i) { background-color: #ffe082; }
  button { font-size: 130% !important; }
}

.font-large { font-size: 110%; }
.font-xlarge { font-size: 130%; }
.font-xxlarge { font-size: 150%; }
.font-small { font-size: 90%; }
.font-xsmall { font-size: 80%; }
.font-xxsmall { font-size: 70%; }

