@import "common/theme.variables";
.login-view {
  $bg-color: $theme-darker-color;
  $driver-color: $d-theme-primary-color1;
  $passenger-color: $p-theme-primary-color1;

  .top { padding-top: 5%; }
  h1 { font-size: 100%; }
  h1, .title {
    color: #ccc;
  }

  .scroll { height: 100%; }

  .item { border: 0; }


  //.tab-content { background-color: $bg-color; }
  .tab-nav {
    .tab-title {
      //font-size: 90% !important;
      //font-size: initial !important;
    }
    .tab-item .icon {
      //font-size: 180% !important;
      //font-size: initial !important;
    }
    height: 10%;
  }
  .tabs-striped  .tabs {
    background-color: black;
    color: white;
  }
  .tabs-custom > .tabs,
  .tabs.tabs-custom {
    background-color: black;
    color: #eee;
  }
  .tabs-striped.tabs-custom .tab-item.driver.tab-item-active,
  .tabs-striped.tabs-custom .tab-item.driver.active,
  .tabs-striped.tabs-positive .tab-item.driver.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: $driver-color;//#5198d8;
  }
  .tabs-striped.tabs-custom .tab-item.passenger.tab-item-active,
  .tabs-striped.tabs-custom .tab-item.passenger.active,
  .tabs-striped.tabs-positive .tab-item.passenger.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: $passenger-color;
  }

  .rounded.passenger {
    background: url('../img/passenger-cover.jpg');
  }
  .rounded.driver {
    background-image: url('../img/driver-cover.jpg') ;
  }
  .rounded {
    display: block;
    margin: 0 auto;
    height: 125px;
    width: 125px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-size: 100% 100%;
  }
  .container {
    position: absolute;
  }
  .title { font-size: 100%; }
  h1 { font-size: 150% !important; }
  .passenger.title, .driver.title { margin-bottom: 5px; }
  //button.driver[type=submit] { margin: 0; background-color: $driver-color; color: #fff; }
  //button.passenger[type=submit] { margin: 0; background-color: $passenger-color; color: #fff }

  button[type=submit] {
    margin: 0;
  }

  div.row { padding-top: 10px; }

  .link a, .link a:visited, .link {
    color: lighten($theme-darker-color, 30%);
    //text-decoration: none;
  }
  .link a:hover {
    text-decoration: underline;
    color: lighten($theme-darker-color, 50%);
  }

  .fail-login {
    margin-left: 20px;
    color: red;
  }

}
