@import "common/theme.variables";
.left-nav-view {

  $fg-color: $theme-light-color;
  $bg-color: $theme-darker-color;


  .rounded.profile {
    background-image: url('../img/driver-profile.jpg') ;
  }

  .rounded {
    display: block;
    margin: 3px 0 0 5px;
    height: 52px;
    width: 52px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-size: 100% 100%;
  }

  .left-nav-menu.menu {

    //background-color: $bg-color;

    .item {
      //color: $fg-color;
      //background-color: $bg-color;
      .icon { font-size: 100%;}
      border:0;
      margin: 1em;
    }

  }

}
//.left-nav-view.driver .item .icon { color: $d-theme-primary-color; }
.left-nav-view.passenger {
  //.item .icon  { color: $p-theme-primary-color; }
  .rounded {
    //-webkit-box-shadow: 0 0 15px 0px $p-theme-primary-color;
    //-moz-box-shadow: 0 0 15px 0px $p-theme-primary-color;
    //box-shadow: 0 0 15px 0px $p-theme-primary-color;
  }
  .left-nav-menu.menu {
    color: $p-theme-primary-text-color;
    .separator { border: 1px solid $p-theme-primary-color2; padding-top: 5px; }

    .bar-header {
      //background-color: $p-theme-primary-color1;
      h1 { color: $p-theme-primary-text-color; }
      background-size: 0;
    }
  }

}
.left-nav-view.driver {
  //.item .icon  { color: $d-theme-primary-color; }
  .rounded {
    //-webkit-box-shadow: 0 0 15px 0px $d-theme-primary-color;
    //-moz-box-shadow: 0 0 15px 0px $d-theme-primary-color;
    //box-shadow: 0 0 15px 0px $d-theme-primary-color;
  }
  .left-nav-menu.menu {
    color: $d-theme-primary-text-color;
    .separator { border-color: darken($d-theme-primary-color2,0); }

    .bar-header {
      //background-color: $d-theme-primary-color1;
      h1 {
        color: $d-theme-primary-text-color;
      }
      background-size: 0;
    }
  }
}
