.register-view {
  background-color: #f0f0f0;

  .bar-header {
    .title {
      color: $theme-dark-color;
      width: 100%;
      text-align: center;
    }
  }
  .scroll-content {
    padding: 0px 10px !important;
  }
  .scroll {
    height: 100%;
  }
  .col { // space between first and last name inputs
    padding: 0 0 0 0;
  }
  .col + .col { // space between first and last name inputs
    padding: 0 0 0 1em;
  }
  .row {
    padding: 0;
  }
  .button-area {
    //position: fixed;
    bottom:0;
    width: 100%;
    left: 0;
    margin: 0;
    button {
      margin-bottom: 0;
      //font-size: 100% !important;
    }
  }
  .link a {
    text-decoration: underline;
    font-size: 100%;
  }

  .input-label {
    font-size: 90%;
  }
  input[name=fname], input[name=lname] {
    text-transform: capitalize;
  }
  //:-ms-input-placeholder,
  //::-moz-placeholder,
  //:-moz-placeholder,
  //::-webkit-input-placeholder {
  //  font-size: 65%;
  //}
  input {
    padding-left: 10px;
    font-size: 80% !important;
  }
  .item-input.item {
    padding: 0;
  }

  .item-input input //, .item-md-label input:-webkit-autofill
  {

    border-bottom: 2px solid darken($theme-light-color,10%);
    color: $theme-dark-color;
    border-radius: 0;
    border: 1px solid darken($theme-light-color,10%);
    letter-spacing: .125rem;
    line-height: 2.75em;
    //line-height: 5vh;
    background-color: $theme-lighter-color;
    height: auto;
  }



}
