@import "../../../../scss/common/common.styles";
@import "../../../../scss/common/theme.variables";

.job-board-view.REQUESTED { background-color: $theme-dark-color; }
//.job-board-view.REQUESTED { background-color: #282828; }

.job-board-view {

  //$bg-color: #282828;
  //$bg-color: #ffffff;
  //$bg-color2: #ededed;

  label.item {
    padding: 0 16px;
  }

  label.item-select {
    padding: 16px;
    margin: 16px;
  }
  .job-searching {
    text-align: center;
    .spinner svg {
      width: 128px;
      height: 128px;
      stroke: #444;
      fill: #444;
    }
  }

  .profile-name {
    text-transform: capitalize;
  }

  .button-area {
    width: 75%;
    margin: 25px auto;
  }
  .button-area.bottom {
    position: fixed;
    bottom:0;
    width: 100%;
    left: 0;
    margin: 0;
    button {
      margin-bottom: 0;
    }
  }
  .hint { font-size: 120%; }
  .bar.REQUESTED { background-color: #333; }

}

.job-board-view.TRANSIT,
.job-board-view.ARRIVE,
.job-board-view.PICKUP {
  .passenger-pic {
    background-position: center center;
    //background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
  }
}
