<ion-view view-title="Job Board" class="job-board-view {{JobCtrl.status}} {{userType}}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-more" ng-click="JobCtrl.showAction($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <list  ng-if="JobCtrl.status === 'STOP'" >
      <label class="item item-input item-floating-label">
        <span class="input-label">Price ($)</span>
        <input placeholder="Price ($)" class="{{userType}}" type="number" ng-model="JobCtrl.input.price" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Radius (meters)</span>
        <input placeholder="Radius (meters)" class="{{userType}}" type="number" ng-model="JobCtrl.input.radius" />
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Zone/Territory/Zip</div>
        <select ng-model="JobCtrl.input.heading">
          <option value="MHN">Manhattan</option>
          <option value="BLN">Brooklyn</option>
          <option value="QUN">Queens</option>
          <option value="JFK">JFK Airport</option>
          <option value="EWR">Newark Airport</option>
        </select>
      </label>
    </list>

    <div class="job-searching" ng-if="JobCtrl.status === 'WAITING'">
      <ion-spinner icon="ripple"></ion-spinner>
    </div>

    <div ng-if="JobCtrl.status === 'REQUESTED'" class="card">
      <div class="item item-divider text-center dark-bg light button-large">You have a job request!</div>
      <div class="item item-text-wrap text-center row message">
        <div class="col font-xlarge">Customer is <span class="emphasis assertive">{{JobCtrl.passengerInfo.distance}}</span> meters away</div>
        <div class="col-20">
          <div class="circle-icon-holder assertive-bg" ng-click="JobCtrl.locatePickupOnMap()">
            <span class="circle-icon icon ion-ios-location fab"></span>
          </div>

        </div>
      </div>
      <div class="item item-divider accept">
        <button ng-click="JobCtrl.accept()" class="button button-full {{userType}}">Accept</button>
      </div>
    </div>

    <div ng-if="JobCtrl.validate(['TRANSIT', 'ARRIVE', 'PICKUP'])" style="height:100%">
      <div class="passenger-pic" style="background-image: url('{{JobCtrl.passengerInfo.profilepic}}')"></div>
      <h3>
        <div ng-if="JobCtrl.validate(['TRANSIT', 'ARRIVE'])" class="profile-name text-center">Your passenger is &quot;{{JobCtrl.passengerInfo.firstname}}&quot;</div>
        <div ng-if="JobCtrl.validate('PICKUP')" class="profile-name text-center">Transporting &quot;{{JobCtrl.passengerInfo.firstname}}&quot;</div>
        <div ng-if="JobCtrl.validate('PICKUP')" class="profile-name text-center"><ion-spinner icon="lines"></ion-spinner></div>
      </h3>
      <!--<h3 class="text-center">-->
        <!--<a class="profile-phone" ng-href="tel:{{JobCtrl.passengerInfo.phone}}">{{JobCtrl.passengerInfo.phone | phonenumber}}</a>-->
      <!--</h3>-->
      <div class="button-area">
        <button ng-if="JobCtrl.validate(['TRANSIT', 'ARRIVE'])" ng-click="JobCtrl.navigateToPickup()" class="icon ion-ios-location button button-full button-dark profile-name"> Navigate To {{JobCtrl.passengerInfo.firstname}}</button>
        <button ng-if="JobCtrl.validate('ARRIVE')" ng-click="JobCtrl.arrive()" class="icon button button-full button-dark profile-name">Arrived (I'm here!)</button>
      </div>
    </div>

    <!--<div ng-if="JobCtrl.status === 'PICKUP'">-->
      <!--<button ng-click="JobCtrl.dropoff()">Dropoff</button>-->
    <!--</div>-->

    <!--<div ng-if="JobCtrl.status === 'DROPOFF'">-->
      <!--<button class="button button-full {{userType}}">Authorize</button>-->
    <!--</div>-->

    <div ng-if="JobCtrl.status === 'CANCEL'" class="card">
      <div class="item item-divider text-center dark-bg light button-large">Your job was cancelled!</div>
      <div class="item item-divider accept">
        <button ng-click="JobCtrl.start(true)" class="button button-full {{userType}}">Restart</button>
      </div>
    </div>
    <div>
    </div>

  </ion-content>
  <div class="bar bar-footer {{JobCtrl.status}}" ng-if="JobCtrl.status === 'STOP'">
    <div class="button-bar">
      <button class="button button-full button-large {{userType}}" ng-click="JobCtrl.start()">Start</button>
    </div>
  </div>
  <div class="bar bar-footer {{JobCtrl.status}}" ng-if="JobCtrl.validate(['TRANSIT'])">
    <div class="button-bar">
      <button class="button button-full button-large {{userType}}" ng-click="JobCtrl.arrive()">Arrive</button>
    </div>
  </div>
  <div class="bar bar-footer {{JobCtrl.status}}" ng-if="JobCtrl.validate('PICKUP')">
    <div class="button-bar">
      <button class="button button-full button-large {{userType}}" ng-click="JobCtrl.dropoff()">Drop Off</button>
    </div>
  </div>
  <div class="bar bar-footer {{JobCtrl.status}}" ng-if="JobCtrl.validate('ARRIVE')">
    <div class="button-bar">
      <button class="button button-full button-large {{userType}}" ng-click="JobCtrl.pickup()">Pickup</button>
    </div>
  </div>

</ion-view>
