<ion-popover-view class="popover-menu action">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" ng-if="JobCtrl.validate(['REQUESTED', 'TRANSIT', 'ARRIVE', 'PICKUP'])" ng-click="JobCtrl.showCancel()">Cancel Job</a>
      <a class="item" ng-if="JobCtrl.validate(['STOP', 'WAITING', 'CANCEL'])" ng-click="JobCtrl.clockoff()">Clock Off</a>
    </div>
  </ion-content>
</ion-popover-view>
