<ion-view class="payment-view {{userType}}" view-title="Payment Info" align-title="left" >
  <ion-content scroll="false">
    <div class="hint padding10 text-center">Add or modify your payment method</div>
    <form id="bt-payment-form" method="post" action="/" novalidate name="my-form">
      <div class="input-container padding10">
        <list>
          <label class="hosted-fields--label" for="card-number">Card Number</label>
          <div id="card-number" class="hosted-field"></div>

          <label class="hosted-fields--label" for="expiration-date">Expiration Date</label>
          <div id="expiration-date" class="hosted-field"></div>

          <label class="hosted-fields--label" for="cvv">CVV</label>
          <div id="cvv" class="hosted-field"></div>

          <label class="hosted-fields--label" for="cvv">Postal Code</label>
          <div id="postal-code" class="hosted-field"></div>

          <label class="hosted-fields--label" ng-show="PaymentCtrl.payment_error">
            <span class="validation-error">*{{PaymentCtrl.payment_error}}</span>
          </label>
        </list>
      </div>
      <div class="bar bar-footer bar-dark">
        <div class="button-bar">
          <input type="submit" class="button button-full {{userType}}" value="Save" id="submit"/>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
