@import "common/theme.variables";
.account-view.beacon .profile-info  {
  top: 0px;
}
.account-view {
  $image-width: 46vw;
  //background-color: $theme-darker-color !important;
  //color: $theme-light-color;

  .nav-bar-title .title{
    text-transform: capitalize;
  }
  //.profile-container
  //{
  //  margin: 0px auto;
  //  margin-top: 6vh;
  //  text-align: center;
  //}


  .user-image-container
  {
    width: $image-width;

    .user-image
    {
      border-top: 1px solid $theme-darker-color;
      background-color: $theme-light-color;

      padding: 8px;
      width: 100%;
      border-radius: 50%;
    }
    //.user-image.passenger {
    //  background-color: $p-theme-primary-color1;
    //}
    //.user-image.driver {
    //  background-color: $d-theme-primary-color1;
    //}
  }

  .profile-info {
    width: 100%;
    z-index: 2;
    text-align: center;
    color: $theme-dark-color;
    height:100%;
  }
  .profile-info.driver {
    position: absolute;
    top: -70px;
  }
  .profile-name {
    color: $theme-dark-color;
    text-transform: capitalize;
  }
  .profile-description {
    font-size: 110%;
    color: #888;
  }
  .profile-description a {
    color: #888;
  }

  .profile-bg {
    background-position: center center;
    background-size: cover;
    min-height: 200px;
    height: 25%;
  }

  .profile-image {
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  }

  .button-area {
    position: fixed;
    bottom:0;
    width: 100%;
    left: 0;
    margin: 0;
    button {
      margin-bottom: 0;
    }
  }
}
