<ion-view view-title="{{AccountCtrl.account.firstname}} {{AccountCtrl.account.lastname}}" class="account-view  {{userType}}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-more" ng-click="AccountCtrl.showMenu($event)"></button>
  </ion-nav-buttons>
  <ion-content has-header="true">
    <div class="profile-bg" ng-show="userType === 'driver'" style="background-image: url('{{AccountCtrl.account.carpic}}')"></div>
    <div class="content">
      <div class="profile-info {{userType}}" ng-if="userType === 'driver'">
        <img class="profile-image" ng-src="{{AccountCtrl.account.profilepic}}">
        <rating ng-model="AccountCtrl.account.rating" max="5" readonly="true" class="padding"></rating>
        <div>{{AccountCtrl.account.carmake}} {{AccountCtrl.account.carmodel}}</div>
      </div>
    </div>
    <div ng-if="userType === 'passenger'" ng-click="AccountCtrl.showPicChoices()"><img class="profile-image" ng-model="current_profile_pic" ng-src="{{current_profile_pic}}" ></div>

    <div class="profile-info {{userType}}" ng-if="userType === 'passenger'">
      <!--<img class="profile-image" ng-src="{{AccountCtrl.account.profilepic}}">-->
      <div class="profile-username padding">{{AccountCtrl.account.username}}</div>
      <div class="profile-email">{{AccountCtrl.account.email}}</div>
      <div class="profile-phone"><a href="tel:{{AccountCtrl.account.phone|phonenumber}}">{{AccountCtrl.account.phone|phonenumber}}</a></div>
      <div bm-card ng-model="AccountCtrl.account"></div>
    </div>
  </ion-content>
</ion-view>
