<!--<span class="logo jp-card jp-card-amex"></span>-->
<!--<h2 class="title"><i class="icon ion-checkmark-circled calm" ng-show="c.default"></i> {{c.type}} ending in {{c.number}}</h2>-->
<!--<p class="expiration">exp {{c.expiry}}</p>-->
<!--{{CardCtrl.payInfo.}}-->
