<ion-view class="register-view " view-title="Become a Driver">
  <ion-header-bar>
    <h4 class="text-center title">Become a Driver</h4>
  </ion-header-bar>
  <ion-content>
    <form  novalidate name="myForm"  class="padding scroll='true'">
      <list>

        <label class="item item-input item-floating-label">
          <span class="input-label">Date of Birth</span>
          <input placeholder="Date of Birth yyyy-mm-dd*" class="driver" type="text" name="dob" ng-model="AccountCtrl.driver.dateOfBirth" ng-pattern="/^\d{4}-?\d{2}-?\d{2}$/"  ng-minlength="10" ng-maxlength="10" required >
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">SSN</span>
          <input placeholder="SSN xxx-xx-xxxx*" class="driver" type="text" name="ssn" ng-model="AccountCtrl.driver.ssn" ng-pattern="/^\d{3}-?\d{2}-?\d{4}$/" ng-minlength="9" required />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Street Address</span>
          <input placeholder="Street Address*" class="driver" type="text" name="address" autocapitalize="none" ng-model="AccountCtrl.driver.street" required />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">City</span>
          <input placeholder="City*" class="driver" type="text" name="city" ng-model="AccountCtrl.driver.city" required />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">State</span>
          <input placeholder="State*" class="driver" type="text" name="state" ng-model="AccountCtrl.driver.state" ng-minlength="2" ng-maxlength="2" ng-pattern="/^[a-z,A-Z][a-z,A-Z]$/"required />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Zipcode</span>
          <input placeholder="Zipcode*" class="driver" type="tel" ng-model="AccountCtrl.driver.zip" ng-minlength="5" ng-maxlength="5" ng-pattern="/^\d{5}$/" required />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Account Number</span>
          <input placeholder="Account Number*" class="driver" type="tel" ng-model="AccountCtrl.driver.account" ng-minlength="5" ng-maxlength="15" required />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Routing Number</span>
          <input placeholder="Routing Number*" class="driver" type="tel" ng-model="AccountCtrl.driver.routing" ng-minlength="5" ng-maxlength="15" required />
        </label>

        <text>* Required Fields</text>
        <div ng-show="AccountCtrl.upgrade_error">
          <text class="validation-error">* {{AccountCtrl.upgrade_error}}</text>
        </div>
      </list>
      <div class="button-area">
        <button class="button button-full {{userType}} register" ng-disabled="myForm.$invalid || AccountCtrl.driver.tos !== true" type="submit" ng-click="AccountCtrl.upgradeSignup()">Sign Up</button>
        <button class="button button-small button-full button-dark" type="button" ng-click="AccountCtrl.upgradeCancel()">Cancel</button>
      </div>
      <div class="link text-center">By becoming a driver, you agree to the </div>
      <div class="link text-center">
        <span><i class="icon ion-android-checkbox-outline-blank positive font-xxlarge" ng-hide="AccountCtrl.driver.tos" ng-model="AccountCtrl.driver.tos" ng-click="AccountCtrl.driver.tos=!AccountCtrl.driver.tos"></i></span>
        <span><i class="icon ion-android-checkbox positive font-xxlarge" ng-show="AccountCtrl.driver.tos" ng-model="AccountCtrl.driver.tos" ng-click="AccountCtrl.driver.tos=!AccountCtrl.driver.tos" required="AccountCtrl.driver.tos"></i></span> I accept the <a href="#">Terms of Service</a></div>
    </form>
  </ion-content>
</ion-view>



