@import "common.variables";

.view-container .pane, .view-container .view { background-color: $theme-light-color; }
.view-container .pane.page-dark, .view-container .view.page-dark { background-color: $theme-darker-color; }
//.view { background-color: red !important;}

.img-circle { border-radius: 50%; }
.padding10 { padding: 10px !important; }
.padding20 { padding: 20px !important; }
.padding30 { padding: 30px !important; }

.keyboard-open .tabs {
  display:none;
}
.keyboard-open .has-tabs{
  bottom:0;
}

.modal-backdrop-bg { display: none; }

.emphasis { font-weight: bold; }
.hint { font-style: italic; color: $theme-dark-color; }
.d-highlight { background-color: $d-theme-highlight-color; color: white; }
.p-highlight { background-color: $p-theme-highlight-color; color: white; }

.icon.logo {
  background-image: url('../img/driver-cover.jpg') ;
}

// style inputs for light pages
input[type=submit].passenger, input[type=button].passenger, button.passenger {
  background-color: $p-theme-primary-color1; color: $p-theme-primary-text-color;
}
input[type=submit].passenger:focus, input[type=button].passenger:focus, button.driver:focus {
  background-color: darken($p-theme-primary-color1,10%); color: $p-theme-primary-text-color;
}

input[type=submit].driver, input[type=button].driver, button.driver {
  background-color: $d-theme-primary-color1; color: $d-theme-primary-text-color;
}
input[type=submit].driver:focus, input[type=button].driver:focus, button.driver:focus {
  background-color: darken($d-theme-primary-color1,10%); color: $d-theme-primary-text-color;
}

.item-input input //, .item-md-label input:-webkit-autofill
{
  background-color: $theme-light-color;
  border-bottom: 2px solid darken($theme-light-color,10%);
  color: $theme-dark-color;
  border-radius: 0;
  letter-spacing: .25rem;
  padding-left: 20px;
  line-height: initial;
}
.item {
  border: 0;
}
input.driver:focus {
  border-bottom:2px solid $d-theme-primary-color1;
}
input.passenger:focus {
  border-bottom: 2px solid $p-theme-primary-color1;
}
.input-label {
  color: lighten($theme-dark-color, 30%);//$theme-light-color;
  padding:0;
}
.link a, .link a:visited, .link {
  color: lighten($theme-darker-color,20%);
  //text-decoration: none;
}
.link a {
  padding: 1em 0; // make click target bigger
  cursor: pointer;
}
.link a:hover {
  text-decoration: underline;
  color: lighten($theme-darker-color,30%);
}

.title.header-item {
  text-transform: capitalize;
}

// style inputs for dark pages - This isthe Login and Register page (before someone has logged in)
.page-dark {
  background-color: $theme-darker-color;

  input[type=submit].passenger, input[type=button].passenger, button.passenger {
    background-color: $p-theme-primary-color1;
    color: $p-theme-primary-text-color;
  }
  input[type=submit].passenger:focus, input[type=button].passenger:focus, button.driver:focus {
    background-color: darken($p-theme-primary-color1, 10%);
    color: $p-theme-primary-text-color;
  }

  input[type=submit].driver, input[type=button].driver, button.driver {
    background-color: $d-theme-primary-color1;
    color: $d-theme-primary-text-color;
  }
  input[type=submit].driver:focus, input[type=button].driver:focus, button.driver:focus {
    background-color: darken($d-theme-primary-color1, 10%);
    color: $d-theme-primary-text-color;
  }
  input //, .item-md-label input:-webkit-autofill
  {
    background-color: darken($theme-darker-color,0%);
    border-bottom: 2px solid lighten($theme-darker-color, 30%);
    color: $theme-light-color;
    letter-spacing: .25rem;
    padding-left: 20px;
    //padding: 20px 10px;
    border-radius: 0;
  }
  input.driver:focus {
    border-bottom:2px solid $d-theme-primary-color1;
  }
  input.passenger:focus {
    border-bottom: 2px solid $p-theme-primary-color1;
  }
  //.link a, .link a:visited, .link {
  //  color: lighten($theme-darker-color,20%);
  //  text-decoration: none;
  //}
  //.link a:hover {
  //  text-decoration: underline;
  //  color: lighten($theme-darker-color,30%);
  //}

  .input-label {
    color: lighten($theme-darker-color, 30%);//$theme-light-color;
    padding:0;
  }
}

// all buttons in footer should be square corners, no margin, no padding
.bar-footer {
  padding:0;
  .button-bar .button {
    margin:0;
    border-radius: 0;
  }
}

/////////////////////////////////////////
// Passenger / Driver specific theming

.passenger {

  input[type=text]:focus {
    border-bottom: 2px solid $p-theme-primary-color1;
  }
  .menu.menu-left {
    background-color: $p-theme-primary-color2;
    .item {
      background-color: $p-theme-primary-color2;
    }
  }
  .bar-header {
    background-color: $p-theme-primary-color1;
    color: $p-theme-primary-text-color;
  }
  .bar-footer .tabs {
    background-color: $p-theme-primary-color1;
    color: $p_theme-primary-text-color;
  }
}

.driver {

  input[type=text]:focus {
    border-bottom:2px solid $d-theme-primary-color1;
  }
  .menu.menu-left {
    background-color: $d-theme-primary-color2;
    .item {
      background-color: $d-theme-primary-color2;
    }
  }
  .bar-header {
    background-color: $d-theme-primary-color1;
    color: $d-theme-primary-text-color;
  }
  .bar-footer .tabs {
    background-color: $d-theme-primary-color1;
    color: $d_theme-primary-text-color;
  }
}

.card {
  z-index: 4;
  margin-top: 10%;
  font-size: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-left: 10%;
  margin-right: 10%;

  .message {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $theme-light-color;
  }
  .accept { background-color: $theme-light-color; }


  .circle-icon {
    font-size: 120%;
    color: #fff;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
  }

  .circle-icon-holder {
    border: 2px solid darken($assertive, 30);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: table;
  }

  .circle-icon-holder:hover {
    background-color: darken($assertive, 10);
    cursor: pointer;
  }

  .circle-icon-holder:hover .social-icon {
    color: #272727;
    cursor: pointer;
    -webkit-transition: color 0.5s ease;
  }
}

.popover-menu {
  margin: 0 !important;
  background-color: $theme-dark-color !important;
  color: $theme-light-color !important;
  border-radius: 0!important;
  height: auto !important;

  ion-content {
    position: relative;
  }
  .popover-arrow:after {
    background-color: $theme-dark-color !important;
  }

  .list {
    .item {
      margin: 0;
      text-align: right;
      background-color: transparent;
      color: $theme-light-color !important;
      border-bottom: 1px solid darken($theme-dark-color, 10%) !important;

    }
    .item:last-child {
      border-bottom: 0 !important;
    }
  }
}

input.ng-invalid.ng-touched {
  background-color: #ffa69e;
}
.validation-error {
  color: red;
  font-size: small;
}
