@import "theme.variables";

$top-bar-bg: $theme-color-3;
$top-bar-color: $theme-color-5;

$nav-menu-bg: $theme-color-1;
$nav-menu-color: $theme-color-5;

$content-bg: $theme-color-4;
$content-color: $theme-color-1;
