
// original
$theme-color-0: #050505;
$theme-color-1: #333333;
$theme-color-2: #11c1f3;
$theme-color-3: #33cd5f;
$theme-color-4: #dddbcb;
$theme-color-5: #f5f1e3;
$theme-color-6: #ffffff;

// primary colors i like
$c1: #E55934;
$c1: #FA7921;
$c1: #E83F6F;
$c1: #FFBF00;
$c1: #32936F;
$c1: #3BBF76;
$c1: #1B98E0;
$c1: #FA7921;

// common theme
$theme-darker-color: #282828;
$theme-dark-color: #666666;
$theme-light-color: #eeeeee;
$theme-lighter-color: #ffffff;

// driver
//$d-theme-primary-color: #1B98E0;
//$d-theme-primary-text-color: #FFFFFF;
//$d-theme-secondary-color: #3BBF76;
//$d-theme-highlight-color: #E8923C;

$d-theme-primary-color1: #2DA85D;
$d-theme-primary-color2: #5B565E;
$d-theme-primary-color3: #1B98E0;
$d-theme-primary-text-color: #FFFFFF;
$d-theme-secondary-color: #3BBF76;
$d-theme-highlight-color: #E8923C;

// passenger
//$p-theme-primary-color: #32936F;
//$p-theme-primary-text-color: #FFFFFF;
//$p-theme-secondary-color: #1B98E0;
//$p-theme-highlight-color: #E8923C;

//$p-theme-primary-color1: #4E996D; // brighter
//$p-theme-primary-color2: #4C5C56;//darken($p-theme-primary-color1, 10);
//$p-theme-primary-color3: #28845F; // menu background
//$p-theme-primary-text-color: #FFFFFF;
//$p-theme-secondary-color: #1B98E0;
//$p-theme-highlight-color: #E8923C;

$p-theme-primary-color1: #2C7AE0; // brighter
$p-theme-primary-color2: #5B565E;//darken($p-theme-primary-color1, 10);
$p-theme-primary-color3: #28845F; // menu background
$p-theme-primary-text-color: #eeeeee;
$p-theme-secondary-color: #1B98E0;
$p-theme-highlight-color: #E8923C;
