<ion-popover-view class="popover-menu tracking">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" href="#" ng-click="BeaconTrackingCtrl.cancel(true)">Cancel Trip</a>
    </div>
  </ion-content>
</ion-popover-view>
