<ion-view view-title="Ride Tracking" class="beacon tracking {{userType}}">
  <ion-nav-buttons side="secondary">
  <button class="button button-icon button-clear ion-more" ng-click="BeaconTrackingCtrl.showAction($event)"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" scroll="false">
    <div class="trip-requested" ng-show="BeaconTrackingCtrl.status === 'REQUESTED'">
      <ion-spinner icon="circles"></ion-spinner>
      <div>Waiting for driver to accept your request</div>
    </div>
    <div class="map-view" ng-if="BeaconTrackingCtrl.status === 'TRANSIT'">
      <bm-map ng-model="BeaconTrackingCtrl.beacon"></bm-map>
    </div>
    <div ng-if="BeaconTrackingCtrl.status === 'CANCEL'" class="card">
      <div class="item item-divider text-center dark-bg light button-large">{{BeaconTrackingCtrl.reason}}</div>
      <div class="item item-divider">
        <button ng-click="BeaconTrackingCtrl.backToBeaconList()" class="button button-full {{userType}}">Find another driver</button>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar ng-if="BeaconTrackingCtrl.status === 'TRANSIT'"  ui-sref="app.beacon-profile(BeaconTrackingCtrl.beacon)">
    <ion-list>
      <ion-item class="item item-avatar">
        <img src="{{BeaconTrackingCtrl.beacon.profilepic}}">
        <h2 class="profile-name">{{BeaconTrackingCtrl.beacon.firstname}} {{BeaconTrackingCtrl.beacon.lastname}}</h2>
        <p>Price: ${{BeaconTrackingCtrl.beacon.servicerate}} | Distance: {{BeaconTrackingCtrl.beacon.distance}}m</p>
      </ion-item>
    </ion-list>
  </ion-footer-bar>
</ion-view>
