<ion-view view-title="Settings">
  <ion-content>
    <ion-list>

      <ion-item>
        <ion-label>Notification</ion-label>
        <ion-toggle ng-model="SettingCtrl.vibrate">Vibrate</ion-toggle>
        <ion-toggle ng-model="SettingCtrl.sound">Sound</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
