<ion-view view-title="Driver Profile" class="beacon {{userType}} driver-profile">
  <!--<ion-nav-buttons side="secondary">-->
    <!--<button class="button button-icon button-clear ion-more" ng-click="beaconProfileCtrl.showAction()"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content has-header="true">
    <div class="profile-bg" style="background-image: url('{{BeaconProfileCtrl.beacon.carpic}}')"></div>
    <div class="content">
      <div class="profile-info">
        <img class="profile-image" ng-src="{{BeaconProfileCtrl.beacon.profilepic}}">
        <h4 class="profile-name">{{BeaconProfileCtrl.beacon.firstname}} {{BeaconProfileCtrl.beacon.lastname}}</h4>
          Price: ${{BeaconProfileCtrl.beacon.servicerate}}
          Distance: {{BeaconProfileCtrl.beacon.distance}}m
        <rating ng-model="BeaconProfileCtrl.beacon.rating" max="5" readonly="true"></rating>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-full button-large {{userType}}" ng-click="BeaconProfileCtrl.request()">Request</button>
    </div>
  </ion-footer-bar>
</ion-view>
