
<!--<script id="test-popover.html" type="text/ng-template">-->
  <ion-popover-view class="filter-popover">
    <ion-content class="" scroll="false">
        <div class="range" ng-show="filterPrice">
          <span>${{max_price_low}}</span>
          <input type="range"
                 min="{{max_price_low}}"
                 max="{{max_price_high}}"
                 name="max_price_field"
                 step="5"
                 ng-model="max_price"
                 ng-change="updatePrice(max_price)"
          >
          <span>${{max_price_high}}</span>
        </div>
        <div class="range" ng-show="filterTime">
          <span>{{max_time_low}}</span>
          <input type="range"
                 min="{{max_time_low}}"
                 max="{{max_time_high}}"
                 name="max_time_field"
                 step="5"
                 ng-model="max_time"
                 ng-change="updateTime(max_time)"
          >
          <span>{{max_time_high}}</span>
        </div>
      <div class="button-bar" ng-show="filterCar">
        <!--<a class="button icon ion-model-s" ng-repeat="(key,value) in CarType"><span class="filter-badge">{{CarType[key].value}}</span></a>-->
        <a class="button icon ion-model-s" ng-repeat="(key,value) in CarType" ng-model="car_type" ng-click="updateCar(CarType[key])">
          <span class="filter-badge">{{CarType[key].value}}</span>
        </a>
        <!--<a class="tab-button" ng-repeat="(key,value) in CarType"><ion-icon class="icon ion-model-s"></ion-icon><span class="filter-badge">{{CarType[key].value}}</span></a>-->
      </div>
    </ion-content>
  </ion-popover-view>
<!--</script>-->
