<ion-view view-title="Drivers Available" class="beacon {{userType}}" >
  <div class="bar bar-subheader">
    <div class="button-bar">
      <a class="button icon ion-social-usd" ng-click="BeaconListCtrl.openPopover($event, 0)"><span class="filter-badge">&lt;${{BeaconListCtrl.max_price}}</span> </a>
      <a class="button icon ion-android-time" ng-click="BeaconListCtrl.openPopover($event, 1)"><span class="filter-badge">&lt;{{BeaconListCtrl.max_time}}m</span></a>
      <a class="button icon ion-model-s" ng-click="BeaconListCtrl.openPopover($event, 2)"><span class="filter-badge">{{BeaconListCtrl.car_type.value}}</span></a>
    </div>
  </div>

  <ion-content class="has-subheader beacon-list-content">
    <ion-list ng-if="BeaconListCtrl.status === 'LIST'">
      <ion-item class="item item-avatar" ng-repeat="b in BeaconListCtrl.beacons" ui-sref="app.beacon-profile(b)">
        <img src="{{b.profilepic}}">
        <h2 class="profile-name">{{b.firstname}} {{b.lastname}}</h2>
        <p>Price: ${{b.servicerate}}  Distance: {{b.distance}}m</p>
      </ion-item>
    </ion-list>
    <div class="map-view" ng-if="BeaconListCtrl.status === 'MAP'">
      <bm-map ng-model="BeaconListCtrl.beacons"></bm-map>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs">
      <a class="tab-item active" ng-click="BeaconListCtrl.search()"><i class="icon ion-android-search"></i></a>
      <a class="tab-item active" ng-click="BeaconListCtrl.setView('LIST')"><i class="icon ion-android-list"></i></a>
      <a class="tab-item active" ng-click="BeaconListCtrl.setView('MAP')"><i class="icon ion-android-map"></i></a>
      <a class="tab-item active" ng-click="BeaconListCtrl.message()"><i class="icon ion-chatbubble-working"></i></a>
    </div>
  </ion-footer-bar>
</ion-view>
