@import "common/theme.variables";

.view-container .pane.beacon {
  background-color: $theme-lighter-color;
}
.beacon {
  .bar-subheader {
    padding: 0;

    .button-bar { height: 100%;}
    .button { border-radius: 0; };
    .filter-badge { border-radius: 10px; background-color: $theme-dark-color; color: $theme-light-color; padding: 3px 5px; }
  }

  //seems like ion-content adds a scroll div between it and it's children.
  //need to asdd this css to embed google map view.
  .beacon-list-content {
    .scroll {
      height: 100%;
    }
  }

  .list .item {
    margin: 0;
    background-color: $theme-lighter-color !important;
    border-bottom: 1px solid darken($theme-lighter-color, 20%) !important;
  }

  .profile-info {
    position: absolute;
    top: -70px;
    width: 100%;
    z-index: 2;
    text-align: center;
    color: $theme-dark-color;
    height:100%;

  }
  .profile-name {
    color: $theme-dark-color;
    text-transform: capitalize;
    /*font-size: 26px;*/
  }
  .profile-description {
    font-size: 110%;
    color: #888;
  }
  .profile-description a {
    color: #888;
  }

  .profile-bg {
    background-position: center center;
    //background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
    min-height: 200px;
  }

  .profile-image {
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  }

  .trip-requested {
    text-align: center;
    .spinner svg {
      width: 128px;
      height: 128px;
      stroke: #444;
      fill: #444;
    }
  }

  .bar-footer { padding: 0; }
}
.beacon.driver-profile {
  .content {
    height:50%;
    .profile-info{
      width: initial;
      position: relative;
    }
  }
}
.beacon.tracking {
  .bar-footer {
    .list {
      width: 100%;
      .item {
        padding: 2px 0 0 68px;
      }
    }
    .item-avatar  > img:first-child {
      top: 2px;
    }
  }
}
.popover-menu.tracking {
  height: 60px;
}
.popover-menu.action {
  height: 110px;
}



.filter-popover {
  margin: 0 !important;
  background-color: $theme-dark-color;
  color: $theme-light-color;
  height: auto !important;
  width: 100%;
  left: 0 !important;
  border-radius: 0!important;

  .popover-arrow:after {
    background-color: $theme-dark-color!important;
  }

  ion-content {
    top: 0;
    position: relative;

    .range {
      border-radius: 0 !important;
      color: $theme-dark-color;
    }
    .button-bar {
      overflow: auto;

      .filter-badge {
        border-radius: 10px;
        background-color: $p-theme-highlight-color;
        color: $theme-darker-color;
        padding: 2px 5px;
        font-size: 80%;
        min-width: 45px;
      }


    }
    .button-bar > .button {
      margin-right: 0;
      background-color: $theme-dark-color;
      color: $theme-light-color;
      line-height: 30px;
      padding: 0;
    }
    .button-bar > .button:hover {
      background-color: darken($theme-dark-color, 5);
    }
    .button-bar > .button:last-child {
      border-radius: 0 !important;
      margin-right: 0;
    }
    .button-bar > .button:first-child {
      border-radius: 0 !important;
    }

    .value {
      text-align: center;
      font-size: 110%;
      font-weight: bold;
    }
  }
  .map-view {
    height: 100%; // on ios height was not filling page, had to sepcify 100%
  }
}

.platform-android .action-sheet-cancel {
  display: block !important;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  text-align: center;
}

