<ion-view view-title="Complete Transaction" class="{{userType}}">
  <ion-content has-header="true">
    <div class="list list-inset">
      <div class="item item-divider item-dark">Job Details</div>
      <span class="item">
        Pickup Time
        <span class="item-note">
          {{ChargeCtrl.dateTimeFormat(ChargeCtrl.tripInfo.servicestarttime)}}
        </span>
      </span>
      <span class="item">
        Dropoff Time
        <span class="item-note">
          {{ChargeCtrl.dateTimeFormat(ChargeCtrl.tripInfo.servicestoptime)}}
        </span>
      </span>
      <div class="item item-divider item-dark">Charges</div>
      <span class="item">
        Trip Fare
        <span class="item-note">
          {{ChargeCtrl.currencyFormat(ChargeCtrl.tripInfo.fare)}}
        </span>
      </span>
      <span class="item">
        Processing Fee
        <span class="item-note">
          {{ChargeCtrl.currencyFormat(ChargeCtrl.tripInfo.fee)}}
        </span>
      </span>
      <span class="item">
        Tax
        <span class="item-note">
          {{ChargeCtrl.currencyFormat(ChargeCtrl.tripInfo.tax)}}
        </span>
      </span>
      <span class="item highlight item-assertive">
        <b>Total</b>
        <span class="item-note light">
          <b>{{ChargeCtrl.currencyFormat(ChargeCtrl.calculateTotal())}}</b>
        </span>
      </span>
    </div>

    <div class="card" ng-if="ChargeCtrl.status === 'SUCCESS'">
      <div class="item item-divider item-dark">
        Charge Successful!
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">{{ChargeCtrl.currencyFormat(ChargeCtrl.calculateTotal())}} charged</div>
        </div>
        <div class="row">
          <div class="col">ID# <span class="assertive emphasis {{userType}}">{{ChargeCtrl.chargeid}}</span></div>
        </div>
      </div>
    </div>

    <div class="card" ng-if="ChargeCtrl.status === 'FAILED'">
      <div class="item item-divider item-dark">
        Failed
      </div>
      <div class="item item-text-wrap item-assertive">
        {{ChargeCtrl.chargemessage}}
      </div>
    </div>


  </ion-content>
  <ion-footer-bar>
    <div class="button-bar" ng-if="ChargeCtrl.status !== 'SUCCESS'">
      <button class="button button-full button-large {{userType}}" ng-click="ChargeCtrl.charge()">Charge</button>
    </div>
    <div class="button-bar" ng-if="ChargeCtrl.status === 'SUCCESS'">
      <button class="button button-full button-large {{userType}}" ng-click="ChargeCtrl.returnToJob()">Job Completed (Return)</button>
    </div>
  </ion-footer-bar>
</ion-view>
