<ion-popover-view class="popover-menu">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" href="#" ng-click="AccountCtrl.updatePayment()">Update Payment</a>
      <a class="item" href="#" ng-click="AccountCtrl.deletePayment()">Delete Payment</a>
    </div>
  </ion-content>
</ion-popover-view>
