<ion-view view-title="Transaction History" class="{{userType}}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-more" ng-click="TransactionListCtrl.showMenu($event)"></button>
  </ion-nav-buttons>
  <ion-content has-header="true">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="TransactionListCtrl.doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item" ng-repeat="t in TransactionListCtrl.transactions" ui-sref="app.transaction-profile(t)">
        id:{{t._id}} Date: {{t.servicestoptime}} Total: ${{t.fare}}
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="TransactionListCtrl.moreDataCanBeLoaded()"
      on-infinite="TransactionListCtrl.loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
