/*#profile-bg {*/
  /*position: fixed;*/
  /*left: 0;*/
  /**/
  /*width: 100%;*/
  /*height: 150px;*/

  /*/*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/*/
  /*background-size: 100%;*/
  /*background-position: 50% 20%;*/

  /*text-align: center;*/
/*}*/

.content {
  position: relative;
  /*margin-top: 150px;*/
  background-color: white;
  box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
  padding-top: 200px;
}

.profile-info {
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
.profile-name {
  color: #444;
  /*font-size: 26px;*/
}
.profile-description {
  font-size: 110%;
  color: #888;
}
.profile-description a {
  color: #888;
}

.profile-bg {
  text-align: center;
}
.profile-background {
  height: 200px;
}
.profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

